body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    position: relative;
    width: 464px;
    height: 140px;
    top: 65px;
    left: -50px;
}

a {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none; 
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

label {
    position: relative;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: block;
    margin-bottom: 5px;
    left: -85px;
    width: 98px;
    height: 25px;
}


input{
    position: relative;
    width: 280px;
    height: 34px;
    top: auto;
    left: -85px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #222;
    color: white;
    border: 1px white solid;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

textarea {
    position: relative;
    width: 400px;
    height: 120px;
    top: auto;
    left: -85px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #222;
    color: white;
    border: 1px white solid;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

textarea {
    height: 100px;
}

button {
    position: relative;
    width: 120px;
    height: 47px;
    left: -85px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

button:hover {
    background-color: #c4c2be; 
}

strong{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.body{
    width: 100%;
    height: 100%;
    top: -207px;
    left: -500px;
}

.imgL{
    width: 673px;
    height: 223px;
    top: 57px;
    left: 353px;
}

.logo {
    width: 67px;
    height: 22px;
    position: absolute;
    top: 57px;
    left: 35px;
    font-family: monospace;
    font-size: 10px;
    line-height: 1; 
    margin: 10px auto;
    margin-bottom: 15px;
    padding: 10px;
    letter-spacing: 1px; 
    white-space: pre; 
  }

.top-link {
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    top: 25px;
    right: 375px;
    
    color: white;
    text-decoration: underline;

    width: 114px;
    height: 25px;
}

.top-link:hover {
    text-decoration: none; 
}

.content {
    position: relative;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    left: -20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.back {
    position: relative;
    width: 88px;
    height: 28px;
    left: -55px;

    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    
    color: white;
    text-decoration: underline;
}

.labelL{
    position: relative;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: block;
    margin-bottom: 5px;
    left: -85px;
    width: 281px;
    height: 28px;
}
